<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ComercioTech - Menú Principal</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Menú ComercioTech</h1>
        <div class="menu">
           <div class="menu">
                <a href="{{ url_for('mostrar_clientes') }}">Agregar / Eliminar Clientes</a>
                <a href="{{ url_for('mostrar_productos') }}">Agregar / Eliminar Productos</a>
                <a href="{{ url_for('mostrar_pedidos') }}">Agregar / Eliminar Pedidos</a>
                <a href="{{ url_for('consultas') }}">Consultas</a>
            </div>
        </div>
    </div>
</body>
</html>



